

<div class="ui league grid">
  <div class="five column row">
    <div class="center aligned column"><h1>LEAGUES</h1></div>
    <div class="column"></div>
    <div class="center aligned column">




        <p>
      <% if user_signed_in? && current_user.admin? %>





        <% end %>
        </p>

    </div>

    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
<div class="ui center aligned segment">
<table class="ui celled structured scrollable table">
  <thead>
    <tr>
      <th rowspan="2">League Name</th>
      <th rowspan="2"># of Teams</th>
      <th rowspan="2">League Rep</th>
      <th rowspan="2">Wrestlers</th>
      <% if user_signed_in? && current_user.admin? %>
        <th rowspan="2">Cell</th>
        <th rowspan="2">Email</th>
        <th rowspan="2">Edit Team Info</th>
        <th rowspan="2">Delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @leagues.each do |lg| %>

        <%= render partial: 'leagues/table_row', locals: { lg: lg, u_hash: @u_hash } %>

    <% end %>
  </tbody>
</table>
</div>