<%= render partial: '/wrestlers/show' %><br><br>
 <div class="ui coupled medium fluid modal" id="modal1">
  <%= render partial: 'bouts/form', locals: { :wrestler => @wrestler, :bout => @bout } %>
</div>