<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
   
    <h1> Coaches,</h1>
      <p>
        Please update your NCS rosters, win/loss records & check off your varsity team (wrestlers that will be competing in league finals) on the www.ncswrestling.com site.  If you forgot your password, click "forgot my password" from the "sign in page" and request a new one.  
      </p>
       <div style="font-size: 4em;">
      <p>
       Editing is now a lot easier.  You can now edit your entire roster by clicking the EDIT ALL WRESTLERS button on your team page.  Of course you can still just as easily edit one wrestler at a time.  This information must be completed before your league tournaments.  
     </p>
      </div> 
      <div style="font-size: 6em;">
     <p>
       ** To the coaches who have been using the NCS website to keep track of match results throughout the season, unless you are short on time, it's probably best to continue entering match results to finish the season (instead of using the EDIT ALL feature).  If you start editing the wins and losses without adding a match result, that is fine, but please be aware that those numbers will likely be out of synch with your match result data (which updates the records dynamically).      
      </p>

      <p>
        On a final note, I want to suggest a possible data entry solution that would all but eliminate most of the data entry throughout the year.  If you had a matside scoring feature on your phone or tablet where you could, with a few buttons pressed, score a match or enter the result of a wrestler, would you use it?  It would work a little like Matboss and a little like scoring a match on Track.  Please let me know privately via email if that is a feature you would use or any other suggestions you'd like to see.  If I get enough interest I'll move forward with this feature.    
      </p>
        
      <p>
        Thank you for your help.  Please reach out with any questions to scott@ncswrestling.com.   <br><br>
        Sincerely,<br><br>
        NCSwrestling.com
      </p>
    </div>
  </body>
</html>