<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> League Reps & Coaches</h1>
      <p>
        Many of you are taking advantage of the www.ncswrestling.com site to keep track of your wrestling team and their match results.  Some of you are new coaches to NCS and are just now learning about this website.  To the coaches who have not yet logged on to the site since last year when you entered your NCS roster data, your returning wrestlers have already been imported to this season!  You just need to edit them to reflect the weight they are wrestling at this season and add the new wrestlers on your team.  Half of the data entry is ALREADY DONE FOR YOU!  If you want to add match result data, even better!  Yes! The site stores match data!  You can enter matches one by one or even import all of them from a spread sheet.  YES.  You can do that!
      </p>

      <p>
       Originally, the site was intended for use as a database from which to organize the NCS tournament.  NOW, it makes even more sense to enter your roster as soon as possible!!!  WHY??  
      </p>

      <p>
        <h3>NCS Teams that have entered their rosters on the www.ncswrestling.com site can import their <u>TOURNAMENT TEAM (VARSITY)</u> roster with the click of a button into sites that use this similar framework. </h3>

        <h3>TO DESIGNATE YOUR VARSITY ROSTER ON the NCS SITE:</h3>
        <h4>1. Log into your www.ncswrestling.com account</h4>
        <h4>2. Visit your team page and edit each varsity wrestler.</h4>
        <h4>3. Check the TOURNAMENT TEAM box then save to update.</h4>
        <h3>When this is done for all of your varsity wrestlers, you are ready to ONE CLICK import to all tournaments that use this framework (MSJ, Puma, Redwood, Chris-Snowden, etc...).</h3>
      </p>

      <p>
        Do yourselves a favor and get with the program.  There are some exciting features in development that will cut down on your data entry throughout the year, but unfortunately today's data won't enter itself.  Ignore this message, however, if you like staying up late entering data last minute.  
      </p>
        
      <p>
        Thank you for your help.  Please reach out with any questions to scott@ncswrestling.com.   <br><br>
        Sincerely,<br><br>
        NCS
      </p>

  </body>
</html>