<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> Coaches & League Reps</h1>
      <p>
        Weight cards are now available to view and print.  To view weight cards:<br>
        <br>
        <h3>1.  You must first enter the 2017 league place winner data! (Edit Wrestler/Update)</h3>
        <h3>2.  PDF icons appear next to league place winners & alternates.</h3>
        <h3>3.  Click icon to view PDF in your browser.</h3>
        <h3>4.  To print:  ctrl-p (PC)  or  command-p (Mac)</h3>
        <h3>5.  League Place Winners on WHITE paper</h3>
        <h3>6.  ALTERNATES on BLUE paper</h3>
      </p><br><br>
      <p>
      </p>
     
      <p>
        Sincerely,<br><br>
        NCS
      </p>

  </body>
</html>