<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> Coaches & League Reps</h1>
      <p>
        3 Things to be aware of for the NCS Website:
      </p><br>
      <p>
        1.  *** BROWSER ISSUE ***<br><br>
        Some coaches are having problems entering data.  This is a web browser issue.  Internet Explorer and older versions of Safari have been problematic and I'm working on a fix.  Please use CHROME or FIREFOX or SAFARI (updated version).  If this is Greek to you, contact your Scott Katz or your league rep. 
      </p>
     
      <p>
        2.  WEIGHT CARDS<br><br>
        They will be printable from the website so there will be NO DOUBLE WORK NECESSARY.  I mentioned it in the original email, but since many of you are still asking whether or not this will happen, I am sending this email to let you know that it will indeed happen.  WEIGHT CARDS WILL BE DOWNLOADABLE IN A PDF.  So please finish inputting your wrestlers into the website.  
      </p>
      <p>
        3.  GET USED TO USING THIS WEBSITE INTO THE FORESEEABLE FUTURE<br><br>
        The ncswrestling.com website is set up to be the central database for ALL of your wrestlers on your entire team.  This year we're only using it for NCS purposes, but from this point forward it will be able to store season data for each and every one of your wrestlers.  You will be able to upload ALL match information and see match information for all other wrestlers in the section.  
      </p>
      <p>
        Thank you for your cooperation.  Thank you for your patience.  Please work with me and your league reps to get yourselves out of the stone age and into the modern era.  If there are glitches in the site, please contact Scott Katz (323-317-5900 or scottalankatz@gmail.com) immediately.  This is YOUR website.  We are about to be THE most organized section in the country.  Take pride in that.   
      </p><br>

      <p>
        Sincerely,<br><br>
        NCS
      </p>

  </body>
</html>