<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> League Reps</h1>
      <p>
        
        <h1>  Once your league tournament is over, you MUST enter the 2017 league place winner data!</h1>
        <h2>  (To enter league placement...)</h2>
        <h2>   1.  Visit League Page.</h2>
        <h2>   2.  Click Edit next to the Wrestler you are updating.</h2>
        <h2>   3.  Find the dropdown "2017 League Place"</h2>
        <h2>   4.  Select the appropriate place or alternate number</h2>
        <h2>   5.  Click Update</h2><br><br>
      </p>
      <p>
        <h1>  The at-large selections and tournament brackets are generated from this input so it is imperative that you report each wrestler’s place.</h1>
        <br><br>
        <h2> After those results are entered, you can print the weigh-in registration cards by doing the following….</h2>
        <h2> 1.  Visit Team Page or League Page</h2>
        <h2> 2.  A PDF icon will be next to any wrestler with a league placement or alternate number.</h2>
        <h2> 3.  Click that link and the PDF will pop up in your browser.</h2>
        <h2> 4.  Print the card from your browser.  (ctrl-p  or command-p)</h2>
        <br>  
        <h1>These cards replace the handwritten cards that we used in previous years.</h1>

      
      </p>
        
      <p>
        Thank you for your help.     <br><br>
        Sincerely,<br><br>
        NCS
      </p>

  </body>
</html>