<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h4> Coach <%= (@user.name).split(" ").first %></h4>
      <p>
        
        <%= @message %>

        <br><br>
      </p>
      <p>
      If you have issues with entering match data or other questions, please email scott@ncswrestling.com.
      <br><br>
        Good luck this season.     <br><br>
        Sincerely,<br><br>
        NCS
      </p>

  </body>
</html>