<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> Coaches</h1>
      <p>
        
        <%= @message %>

        <br><br>
      </p>
      <br><br>
        Good luck this season.     <br><br>
        Sincerely,<br><br>
        NCS
      </p>

  </body>
</html>