<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> Welcome <%= (@user.name).split(" ").first %></h1>
      <p>
        The NCS seeding meeting in this Sunday and League tournaments are already underway.  To streamline the entry process, we have upgraded the online site to list your league entries.  League Reps are responsible for making sure all data is entered properly for their league placers plus any other additioal wrestler data provided to them by their league.
      </p><br>

      <p>
       visit  <%= link_to "NCS Wrestling Championships Website", "http://www.ncswrestling.com"  %> (www.ncswrestling.com)
      </p><br>

      <p>
          <ul>YOUR USERNAME:  <b><%= @user.email %></b> </ul>
          <ul> YOUR PASSWORD:  <b>12345678</b></ul>
      </p><br>
      <p>
        All coaches / League Reps will get a new log in.  LEAGUE REPS - YOU ARE RESPONSIBLE FOR GETTING YOUR LEAGUE COACHES TO FOLLOW STEP 2.
      </p><br>

      <p>
          EVERY COACH will ENTER / UPLOAD their VARSITY LEAGUE ROSTER - IF the coach can't do it, the LEAGUE REP has to pick up the slack and do it himself.
      </p><br>

      <p>
        IF a coach isn't sure which wrestler will be in a weight, they can enter ALL potential varsity guys for a specific weight and delete the extras once they have determined who will represent their team at that weight.
      </p><br>

      <p>
        WRESTLER ENTRY CAN BE UPLOADED - Instructions for doing so will be on the wrestler entry page for each team.  I will personally help with any questions they may have if the coach or league rep is having issues
      </p><br>

      <p>
        Please include ALL SEEDING information for your wrestler (tournament results, Section Head to Head) so that each wrestler is seeded properly.
      </p><br>

      <p>
        Check to make sure ALL SEEDING INFORMATION is correct for your wrestler. <b>
      </p><br>

      <p>
        <b>All wrestlers must show a TOTAL season record.  Records must include ALL wins and ALL losses, including out-of-section losses.</b>
      </p><br>

      <p>
        AFTER the league tournaments take place, THAT NIGHT... ASAP... LEAGUE REPS will go to the LEAGUE WRESTLERS VIEW and update each wrestler with the appropriate League Place / alternate designation.
      </p><br>
      
      <p>
        You may make changes to any entry until Monday night at 7:00PM.  After that time, all changes must be directed via email to:<br><br> <u>lhkatz@pacbell.net</u> AND <u>bniemi@cifncs.org</u>.
      </p><br>

      <p>
        Thank you for your cooperation.  With your help we can get the brackets produced and published as quickly as possible.  Contact Larry Katz @ 510-656-8766 with questions about the tournament or Scott Katz @ 323-317-5900 with questions or issues with the website.
      </p><br>

      <p>
        Sincerely,<br><br>
        NCS
      </p>

  </body>
</html>