<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> Welcome <%= (@user.name).split(" ").first %></h1>
      <p>
        The NCS seeding meeting is next Sunday and League tournaments are getting underway this week.  
      If you are the coach, you can access your team entry page by clicking "MY TEAM" in the header or by scrolling down to the team section under the WRESTLERS menu tabs on the tournament website, www.ncswrestling.com.  You can view all wrestlers from all teams but you can only make entries for your team.
      </p><br>
      <p>
       visit  <%= link_to "NCS Wrestling Championships Website", "http://www.ncswrestling.com"  %> (www.ncswrestling.com)
      </p><br>

      <p>
          <ul>YOUR USERNAME:  <b><%= @user.email %></b> </ul>
          <ul> YOUR PASSWORD:  <b>12345678</b></ul>(this can be changed)
      </p><br>
      
      <p>
        Thank you for your cooperation.  Contact your league rep with questions about the tournament or Scott Katz @ 323-317-5900 with questions or issues with the website.
      </p><br>

      <p>
        Sincerely,<br><br>
        NCS
      </p>

  </body>
</html>