<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> <%= @user.school %> </h1>
    <p>
      <%= @user.name %> has just been added!
    </p>
  </body>
</html>