<div class="ui center aligned grid">

  <div class="alert">
  <div class="row">
  <i class="mobile icon"></i><%= link_to "ALERT SIGNUP", new_cellnumber_path, :class => "button" %>
  </div>
  </div>
  <div class="ui center aligned row">
  <div class="text"><br><br>
 Choose which weight or weights you want to be alerted. Remove yourself from alerts whenever you want.  Visit this page to see last weight called.
  </div>
  </div><br><br>
  <div class="ui center aligned row">
    <div class="ui center aligned segment">
      <div class="weight">
      LAST GROUP CALLED: <br><br>
      <h1><%= @alert.message %></h1>
      <h2><%= @alert2.message %></h2>
      <h3><%= @alert3.message %></h3>
      </div>
    </div>
  </div>
</div>

