<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="ui center aligned segment">
  <h2>Please direct all technical questions or concerns via email to scottalankatz@gmail.com.</h2>

  </div>