

  <%= render 'wrestlers/index_by_weight', { :wrestlers => @wrestlers } %>

<br><br><br><br><br><br><br><br><br><br>
<% if @count == 0 %>
  <div class="ui center aligned segment">
  <h1>NO WRESTLERS HAVE BEEN SEEDED YET</h1>
  <h1>Live Seeding on Sunday, Feb 21st @ 10AM</h1>
  check again soon!
  </div>
<% end %>

