<a class="item"><b>BRACKETS</b></a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/team.pdf">Team Scores</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/106.pdf">106</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/113.pdf">113</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/120.pdf">120</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/128.pdf">126</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/132.pdf">132</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/138.pdf">138</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/145.pdf">145</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/152.pdf">152</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/160.pdf">160</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/170.pdf">170</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/182.pdf">182</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/195.pdf">195</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/220.pdf">220</a>
<a class="item" href="https://dl.dropboxusercontent.com/u/61981544/285.pdf">285</a>