<a class="item"><b>BRACKETS</b></a>
<a class="item" href="">Team Scores</a>
<a class="item" href="">106</a>
<a class="item" href="">113</a>
<a class="item" href="">120</a>
<a class="item" href="">126</a>
<a class="item" href="">132</a>
<a class="item" href="">138</a>
<a class="item" href="">145</a>
<a class="item" href="">152</a>
<a class="item" href="">160</a>
<a class="item" href="">170</a>
<a class="item" href="">182</a>
<a class="item" href="">195</a>
<a class="item" href="">220</a>
<a class="item" href="">285</a>