<div class="ui segment">
  <table class="ui celled center aligned structured stackable table">
    <thead>
      <tr>
        <th rowspan="2">WEIGHT</th>
        
        <th rowspan="2">AT LARGE</th>
        <th rowspan="2">SCRATCH</th>
        <th rowspan="2">SCHOOL</th>
        <th rowspan="2">NAME </th>
        <th rowspan="2">YR</th>
        <th rowspan="2">RECORD</th>
        <th rowspan="2">TOURNAMENT<br>RESULTS</th>
        <th rowspan="2">2018 LEAGUE PLACE</th>
        <th colspan="3">2017 PLACES</th>
        <% if user_signed_in? && (current_user.admin? || current_user.league || current_user.coach) %>
        <th rowspan="2">Edit</th>
        <th rowspan="2">Delete</th>
        <% end %>
      </tr>
      <tr>
        <th rowspan="">LEAGUE</th>
        <th rowspan="1">NCS</th>
        <th rowspan="1">STATE</th>
      </tr>
    </thead>
    <tbody>
      <% @wrestlers.each do |wrestler, user| %>
            
              <% wrestler.bouts.each do |bout| %>
                <% if bout.tourney_place && bout.tourney_place > 0 %>
                  <% unless @tourney_results.include?([bout.tourney_name, bout.tourney_place]) %>
                    <% @tourney_results << [bout.tourney_name, bout.tourney_place] %>
                  <% end %>
                <% end %>
              <% end %>
              <% if wrestler.t1_name != "" && wrestler.t1_name != nil && wrestler.t1_name != " " %>
               <% @tourney_results << [ wrestler.t1_name, wrestler.t1_place] %>
             <% end %>
             <% if wrestler.t2_name != "" && wrestler.t2_name != nil && wrestler.t2_name != " " %>
               <% @tourney_results << [ wrestler.t2_name, wrestler.t2_place] %>
             <% end %>
             <% if wrestler.t3_name != "" && wrestler.t3_name != nil && wrestler.t3_name != " " %>
               <% @tourney_results << [ wrestler.t3_name, wrestler.t3_place] %>
             <% end %>
             <% if wrestler.t4_name != "" && wrestler.t4_name != nil && wrestler.t4_name != " " %>
               <% @tourney_results << [ wrestler.t4_name, wrestler.t4_place] %>
             <% end %>
             <% if wrestler.t5_name != "" && wrestler.t5_name != nil && wrestler.t5_name != " " %>
               <% @tourney_results << [ wrestler.t5_name, wrestler.t5_place] %>
             <% end %>
            
           
           

             <%= render partial: 'shared/wrestlers_table_row', locals: { tourney_results: @tourney_results, wrestler: wrestler }%>      
             <% @tourney_results = [] %>
             
           <% if user_signed_in? && (current_user.admin? || current_user.school.name == wrestler.school.name || ((current_user.league_rep == true) && (current_user.league_id == wrestler.league_id ))) %>
              <td><%= link_to 'Edit', edit_wrestler_path(wrestler) %></td>
            <% end %>
            <% if user_signed_in? && (current_user.admin? ) %>
          <td><%= link_to 'Delete', wrestler, method: "delete", :data => {:confirm => 'Are you sure?'} %> </td>
          <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>