<div class="ui segment">
  <table class="ui celled center aligned structured stackable table">
    <thead>
      <tr>
        <th rowspan="2">WEIGHT</th>
        
        <th rowspan="2">AT LARGE</th>
        <th rowspan="2">SCRATCH</th>
        <th rowspan="2">SCHOOL</th>
        <th rowspan="2">NAME </th>
        <th rowspan="2">YR</th>
        <th rowspan="2">RECORD</th>
        <th rowspan="2">TOURNAMENT<br>RESULTS</th>
        <th rowspan="2">2018 LEAGUE PLACE</th>
        <th colspan="3">2017 PLACES</th>
        <% if user_signed_in? && (current_user.admin? || current_user.league || current_user.coach) %>
        <th rowspan="2">Edit</th>
        <th rowspan="2">Delete</th>
        <% end %>
      </tr>
      <tr>
        <th rowspan="">LEAGUE</th>
        <th rowspan="1">NCS</th>
        <th rowspan="1">STATE</th>
      </tr>
    </thead>
    <tbody>
      <% @wrestlers.each do |wrestler, user| %>
             <%= render partial: 'shared/wrestlers_table_row', locals: { wrestler: wrestler }%>      
        
           <% if user_signed_in? && (current_user.admin? || current_user.school.name == wrestler.school.name || ((current_user.league_rep == true) && (current_user.league_id == wrestler.league_id ))) %>
              <td><%= link_to 'Edit', edit_wrestler_path(wrestler) %></td>
            <% end %>
            <% if user_signed_in? && (current_user.admin? ) %>
          <td><%= link_to 'Delete', wrestler, method: "delete", :data => {:confirm => 'Are you sure?'} %> </td>
          <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>