<div class="ui center aligned grid">
  <div class="ui computer only row">
    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" src="images/Aiello.jpg">
        <img class="ui centered image" src="images/wrestling16.jpg">
        <img class="ui centered image" src="images/Columbini.jpg">
      </div>
    </div>

    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" src="images/Guerrero.jpg">
        <img class="ui centered image" src="images/cervantes.jpg">
        <img class="ui centered image" src="images/Ducharme.jpg">
      </div>
    </div>
  </div>

  <div class="ui mobile only tablet only row">
    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" src="images/Aiello.jpg">
        <img class="ui centered image" src="images/wrestling16.jpg">
        <img class="ui centered image" src="images/Columbini.jpg">
      </div>
    </div>
    <div class="ui center aligned segment">
      <div class="ui images">
       <img class="ui centered image" src="images/Guerrero.jpg">
        <img class="ui centered image" src="images/cervantes.jpg">
        <img class="ui centered image" src="images/Ducharme.jpg">
      </div>
    </div>
  </div>
</div>


