<div class="ui center aligned segment">


    <div class="ui images">

         <img class="ui centered image" src="public/images/aiello.jpg">

        <img class="ui centered image" src="public/images/wrestling16.jpg">

                 <img class="ui centered image" src="public/images/guerrero.jpg">
    </div>

</div>


<div class="ui center aligned segment">
  <div class="ui images">
        <img class="ui centered image" src="public/images/columbini.jpg">

         <img class="ui centered image" src="public/images/cervantes.jpg">
           <img class="ui centered image" src="public/images/ducharme.jpg">


</div>


</div>