
    <div class="ui center aligned segment" id="weigh-in" style="font-size:25px;">
    <!-- 2017 CIF STATE MEDALISTS FROM NCS<br> -->
    <a class="item" href="/images/2020_opening_brackets.pdf">OPENING BRACKETS</a> 

    </div>
    
   
    <div class="ui center aligned segment">
      <div class="ui images">
        <!-- <div class="ui three column center aligned grid"> -->
        
          <div class="ui center aligned column">
            <div class="ui image">
              <img class="ui centered image" style="height:275px;" src="images/20wrestling.jpg">
            </div>
           <!--  <div class="ui image"> 
              <div class="ui black ribbon center label" style="text-align:center;">
                Donovin Guerrero<br>De La Salle<br>2nd @ 126lbs
              </div>
                <a href="assets/DonovinGuerrero126_2nd.jpg" target="new">
                <img src="assets/DonovinGuerrero126_2nd.jpg">
              </a>
            </div> -->
          <!-- </div> -->

           <div class="ui center aligned four wide column" style="font-size:18px;margin-top:8%;">
          LIVE ACTION PHOTOS<br>
            <span style="font-size:10px;">Courtesy of John Sachs - Tech-Fall.com</span>

            <br><a class="item" style="font-size:12px;" href="https://www.flickr.com/photos/tech-fall/albums/72157713139481106">DAY 1</a><br>
            <a class="item" style="font-size:12px;" href="https://www.flickr.com/photos/tech-fall/albums/72157713139492681">DAY 2</a>
          </div>
<!--
          <div class="column">
            <div class="ui image"> 
              <img class="ui centered image" style="height:275px;" src="images/19boyswrest.jpg">
            </div>
          </div> -->
       <!--    <div class="column">
            <div class="ui image"> 
              <div class="ui black right ribbon label" style="text-align:center;">
                Dominic DuCharme<br>Windsor<br>3rd @ 170lbs
              </div>
              <a href="assets/DominicDuCharme170_3rd.jpg">
              <img src="assets/DominicDuCharme170_3rd.jpg">
              </a>
            </div>
          </div> -->
        </div>
      </div>
    <!-- <div class="ui segment" style="margin:3em">
      <div class="ui images">
        <div class="ui two column  grid" id="medalists2">
          <div class="center aligned column">
            <div class="ui image">
              <div class="ui black ribbon  label" style="margin-top:20em;margin-left:0.1em;text-align:center;">
                Peyton Omania<br>De La Salle<br>5th @ 145lbs
              </div>
              <a href="assets/PeytonOmania145_5th.jpg" target="new">
                <img src="assets/PeytonOmania145_5th.jpg" >
              </a>
              
            </div>
          </div>
          <div class="center aligned column" style="margin-left: -35px;">
            <div class="ui image">
              <div class="ui black right ribbon label" style="margin-top:20em;text-align:center;">
                Max Bossert<br>Las Lomas<br>5th @ 182lbs
              </div>
              <a href="assets/MaxBossert182_5th.jpg" target="new">
                <img src="assets/MaxBossert182_5th.jpg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui center aligned segment" style="margin:3em">
      <div class="ui images">
        <div class="ui three column  grid" id="medalists3">
         
          
          <div class="column">
            <div class="ui image">
              <div class="ui black bottom attached  label" style="max-width:97.5%;margin-top:10em;margin-left:0.31em;text-align:center;">
                Eric Yang<br>Mission San Jose<br>6th @ 132lbs
              </div>
              <a href="assets/EricYang132_6th.jpg" target="new">
                <img src="assets/EricYang132_6th.jpg">
              </a>
            </div>
          </div>

          <div class="column">
            <div class="ui image" style="max-width: 100%;">
              <div class="ui black  bottom attached  label" style="max-width:97.5%;margin-top:10em;margin-left:0.31em;margin-right:0.2em;text-align:center;">
                Beau Columbini<br>Windsor<br>6th @ 160lbs
              </div>
              <a href="assets/BeauColombini160_6th.jpg" target="new">              
              <img src="assets/BeauColombini160_6th.jpg">
              </a>
            </div>
          </div>
          <div class="column">
              <div class="ui image">
                <div class="ui black bottom attached label" style="margin-top:10em;margin-left:0.31em;text-align:center;">
                  Jared Luty<br>American<br>6th @ 120lbs
                </div>
                 <a href="assets/JaredLuty120_6th.jpg" target="new">
                <img src="assets/JaredLuty120_6th.jpg">
                </a>
              </div>
            </div>
          
        </div>
      </div>  
    </div>
 -->
<!--      <div class="ui center aligned segment" style="margin:1em;height:25em;">
       <div class="ui images">
         <div class="ui four column grid" id="medalists4">
           <div class="column">
             <div class="ui image">
               <a href="assets/MarshallHuberty195_7th.jpg" target="new">
               <img src="assets/MarshallHuberty195_7th.jpg">
               </a>
               <div class="ui black bottom attached label" style="position:absolute;max-width:100%;margin-left:0.31em;text-align:center;">
                 Marshall Huberty<br>De La Salle<br>7th @ 195lbs
               </div>
             </div>
           </div>
            
            <div class="column">
              <div class="ui image">
                <div class="ui black bottom attached label" style="margin-left:0.31em;text-align:center;">
                  Nicolas Iversen<br>Ukiah<br>8th @ 285lbs
                </div>
                <a href="assets/NicolasIversen285_8th.jpg" target="new">
                <img src="assets/NicolasIversen285_8th.jpg">
                </a>
              </div>
            </div>
            <div class="column">
              <div class="ui image">
                <div class="ui black bottom attached label" style="margin-left:0.31em;text-align:center;">
                  Anthony Spallino<br>Windsor<br>8th @ 195lbs
                </div>
                <a href="assets/AnthonySpallino195_8th.jpg" target="new">
                <img src="assets/AnthonySpallino195_8th.jpg">
                </a>
              </div>
            </div>
            <div class="column">
              <div class="ui image">
                <div class="ui black bottom attached label" style="margin-left:0.31em;text-align:center;">
                  Darryl Aiello<br>De La Salle<br>8th @ 220lbs
                </div>
                <a href="assets/DarrylAiello220_8th.jpg" target="new">
                <img src="assets/DarrylAiello220_8th.jpg">
                </a>
              </div>
            </div>
          </div>
        </div>  
      </div>
 -->
 


<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="ui inverted gray vertical segment">
  <div class="ui stackable inverted divided relaxed grid">
    <div class="three column row">
      <div class="ui center aligned column">

        <a href="http://www.cifncs.org/"><img class="ui medium ncs avatar image" src="/images/20wrestling.jpg"></a>
      </div>
      <div class="center aligned column">
      <!-- <a class="item" href="/images/2019NCSProgramR0.pdf">OPENING BRACKETS</a><br> -->
      <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/all.pdf">ALL BRACKETS</a>
        <div class="ui grid">

          <div class="two column row" style="font-size:1.5em;">
            <div class="center aligned column">
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/106.pdf">106</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/113.pdf">113</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/120.pdf">120</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/126.pdf">126</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/132.pdf">132</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/138.pdf">138</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/145.pdf">145</a><br>
            </div>
            <div class="center aligned column">
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/152.pdf">152</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/160.pdf">160</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/170.pdf">170</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/182.pdf">182</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/195.pdf">195</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/220.pdf">220</a><br>
              <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/285.pdf">285</a><br>
            </div>
          </div>
          </div>
          <a class="item" href="https://s3-us-west-2.amazonaws.com/ncs-championships/team.pdf">TEAM SCORES</a><br><br>

            <a class="item" href="http://www.nfhsnetwork.com/events/cifncs/gam8ff6d15534">LIVE STREAMING</a>


      </div>
      <div class="center aligned column">
        <a href="http://www.cifstate.org/"><img class="ui medium avatar image" src="/images/cif2020.jpg"></a>
      </div>
    </div>
    <div class="center aligned sixteen wide column">
      <i class="copyright icon"></i>2016 &emsp;
    </div>
  </div>





