<div class="ui center aligned grid">
  <div class="ui computer only row">
    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" src="images/DonovinGuerrero126_2nd.jpg">
        <img class="ui centered image" src="images/2017Logo.jpg">
        <img class="ui centered image" src="images/DominicDuCharme170_3rd.jpg">
      </div>
    </div>

    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" id="medalists" src="images/PeytonOmania145_5th.jpg">
        <img class="ui centered image" id="medalists" src="images/MaxBossert182_5th.jpg">
        <img class="ui centered image" id="medalists" src="images/EricYang132_6th.jpg">
        <img class="ui centered image" id="medalists" src="images/BeauColombini160_6th.jpg">
      </div>
    </div>
    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" id="medalists2" src="images/MarshallHuberty195_7th.jpg">
        <img class="ui centered image" id="medalists2" src="images/JaredLuty120_6th.jpg">       
        <img class="ui centered image" id="medalists2" src="images/NicolasIversen285_8th.jpg">
        <img class="ui centered image" id="medalists2" src="images/AnthonySpallino195_8th.jpg">
        <img class="ui centered image" id="medalists2" src="images/DarrylAiello220_8th.jpg">
      </div>
    </div>
  </div>

  <div class="ui mobile only tablet only row">
    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" src="images/DonovinGuerrero126_2nd.jpg">
        <img class="ui centered image" src="images/2017Logo.jpg">
        <img class="ui centered image" src="images/DominicDuCharme170_3rd.jpg">
      </div>
    </div>
    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" id="medalists" src="images/PeytonOmania145_5th.jpg">
        <img class="ui centered image" id="medalists" src="images/MaxBossert182_5th.jpg">
        <img class="ui centered image" id="medalists" src="images/EricYang132_6th.jpg">
        <img class="ui centered image" id="medalists" src="images/BeauColombini160_6th.jpg">
      </div>
    </div>
    <div class="ui center aligned segment">
      <div class="ui images">
        <img class="ui centered image" id="medalists2" src="images/MarshallHuberty195_7th.jpg">
        <img class="ui centered image" id="medalists2" src="images/JaredLuty120_6th.jpg">       
        <img class="ui centered image" id="medalists2" src="images/NicolasIversen285_8th.jpg">
        <img class="ui centered image" id="medalists2" src="images/AnthonySpallino195_8th.jpg">
        <img class="ui centered image" id="medalists2" src="images/DarrylAiello220_8th.jpg">
      </div>
    </div>
  </div>


</div>
<br><br><br><br><br><br><br>
<div class="ui inverted gray vertical segment">
  <div class="ui stackable inverted divided relaxed grid">
    <div class="three column row">
      <div class="ui center aligned column">

        <a href="http://www.cifncs.org/"><img class="ui medium ncs avatar image" src="/images/ncslogo.jpg"></a>
      </div>
      <div class="center aligned column">
      <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/Openingbrackets.pdf.pdf">OPENING BRACKETS</a>
        <div class="ui grid">

          <div class="two column row">
            <div class="center aligned column">
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/106.pdf">106</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/113.pdf">113</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/120.pdf">120</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/128.pdf">126</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/132.pdf">132</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/ u/61981544/138.pdf">138</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/145.pdf">145</a><br>
            </div>
            <div class="center aligned column">
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/152.pdf">152</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/160.pdf">160</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/170.pdf">170</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/182.pdf">182</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/195.pdf">195</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/220.pdf">220</a><br>
              <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/285.pdf">285</a><br>
            </div>
          </div>
          </div>
          <a class="item" href="https://dl.dropboxusercontent.com/u/61981544/team.pdf">TEAM SCORES</a><br><br>

            <a class="item" href="http://www.nfhsnetwork.com/events/cifncs/91d037937d">LIVE STREAMING</a>


      </div>
      <div class="center aligned column">
        <a href="http://www.cifstate.org/"><img class="ui large avatar image" src="/images/statelogo.jpg"></a>
      </div>
    </div>
    <div class="center aligned sixteen wide column">
      <i class="copyright icon"></i>2016 &emsp;
    </div>
  </div>
</div>





