<div class="ui center aligned grid">

    <div class="mobile only tablet only row">
      <%= render partial: 'shared/wrestlers_table' %>
    </div>

    <div class="computer only row">
      <%= render partial: 'shared/wrestlers_table' %>
    </div>
</div>


