
  <% if @wrestlers.count > 0 && @comparing == false %>
<div class="ui center aligned segment">
     <% if user_signed_in? %>
        
        <div class="compare">
        
          <%= link_to "COMPARE WRESTLERS", compare_wrestlers_path(weight: @wt) %>
        </div>
        <% end %>
    </div>
           <% end %> 

<div class="ui center aligned grid">
  
    <div class="mobile only tablet only row">
       
      <%= render partial: 'shared/wrestlers_table' %>
    </div>

    <div class="computer only row">
    
       <%= render partial: 'shared/wrestlers_table', locals: { tourney_results: @tourney_results } %>
    </div>
</div>


