<div class="ui center aligned segment">
<h1>ALL WRESTLERS</h1><h4>(2019 NCS Championship competitors)</h4><br>
(<%= @count %>)
        <p>
          <% if user_signed_in? && (current_user.admin? || current_user.league_rep || current_user.coach) %>
          Download:
            <%= link_to "CSV", wrestlers_path(format: "csv") %> |
            <%= link_to "Excel", wrestlers_path(format: "xls") %><br><br>
            <% end %>

        </p>
</div>

<div class="ui segment">
  <table class="ui celled right aligned structured stackable table">
  <thead>
    <tr>
    
      <th rowspan="2">WT</th>
      <th rowspan="2">LEAGUE PL</th>
      <th rowspan="2">SCHOOL</th>
      <th rowspan="2">FIRST</th>
      <th rowspan="2">LAST</th>
      <th rowspan="2">YR</th>
      <th rowspan="2">W</th>
      <th rowspan="2">L</th>

       
      <th rowspan="2">SEC Pl</th>
      <th rowspan="2">ST Pl</th>

      <th colspan="1">TOURNAMENT PLACES</th>
      



      <% if user_signed_in? && (current_user.admin?) %>

      <th rowspan="2">EDIT</th>

      <th rowspan="2">DELETE</th>
      <% end %>
    </tr>

  </thead>
  <tbody>


          <% @wrestlers.each do |wrestler| %>
           
              <% wrestler.bouts.each do |bout| %>
                <% if bout.tourney_place && bout.tourney_place > 0 %>
                  <% unless @tourney_results.include?([bout.tourney_name, bout.tourney_place]) %>
                    <% @tourney_results << [bout.tourney_name, bout.tourney_place] %>
                  <% end %>
                <% end %>
              <% end %>
              <% if wrestler.t1_name != "" && wrestler.t1_name != nil && wrestler.t1_name != " " %>
               <% @tourney_results << [ wrestler.t1_name, wrestler.t1_place] %>
             <% end %>
             <% if wrestler.t2_name != "" && wrestler.t2_name != nil && wrestler.t2_name != " " %>
               <% @tourney_results << [ wrestler.t2_name, wrestler.t2_place] %>
             <% end %>
             <% if wrestler.t3_name != "" && wrestler.t3_name != nil && wrestler.t3_name != " " %>
               <% @tourney_results << [ wrestler.t3_name, wrestler.t3_place] %>
             <% end %>
             <% if wrestler.t4_name != "" && wrestler.t4_name != nil && wrestler.t4_name != " " %>
               <% @tourney_results << [ wrestler.t4_name, wrestler.t4_place] %>
             <% end %>
             <% if wrestler.t5_name != "" && wrestler.t5_name != nil && wrestler.t5_name != " " %>
               <% @tourney_results << [ wrestler.t5_name, wrestler.t5_place] %>
             <% end %>
            
            <%= render partial: 'wrestlers/table_row', locals: { wrestler: wrestler, tourney_results: @tourney_results, wins: @wins, losses: @losses } %>
           
            <% @tourney_results = [] %>
          <% end %>

  </tbody>
</table>
</div>