<div class="ui center aligned segment">
<h1>ALL WRESTLERS</h1>
(<%= @count %>)
        <p>
          <% if user_signed_in? && current_user.admin? %>
          Download:
            <%= link_to "CSV", wrestlers_path(format: "csv") %> |
            <%= link_to "Excel", wrestlers_path(format: "xls") %><br><br>
            <% end %>

        </p>
</div>

<div class="ui segment">
  <table class="ui celled right aligned structured stackable table">
  <thead>
    <tr>
    
      <th rowspan="2">WT<br>(seed)</th>
      <th rowspan="2">LEAGUE PL</th>
      <th rowspan="2">SCHOOL</th>
      <th rowspan="2">FIRST</th>
      <th rowspan="2">LAST</th>
      <th rowspan="2">YR</th>
      <th rowspan="2">W</th>
      <th rowspan="2">L</th>


      <th rowspan="2">SEC Pl</th>
      <th rowspan="2">ST Pl</th>

      <th colspan="1">TOURNAMENT PLACES</th>
      <th colspan="1">HEAD 2 HEAD</th>



      <% if user_signed_in? && (current_user.admin? || current_user.coach ) %>

      <th rowspan="2">EDIT</th>

      <th rowspan="2">DELETE</th>
      <% end %>
    </tr>

  </thead>
  <tbody>
    <% @wrestlers.each do |wrestler| %>
       <%= render partial: 'wrestlers/table_row', locals: { wrestler: wrestler } %>
      <% end %>

  </tbody>
</table>
</div>