<div class="ui center aligned segment">
   <div class="header">
    <h1>Upload Roster Instructions</h1>
   </div>
</div>
    <div class="description" style="padding:5em">
      <p>You have the choice to enter wrestlers 1 at a time or to upload your roster from a spreadsheet that is provided on the previous page.  Here are the steps to upload your roster: <br><br>
      <div class="ui left aligned segment">
     1. Read these instructions carefully!<br>
     2. Download the spreadsheet entry template.<br>
     3. Fill out the spreadsheet following the examples below.<br>
     4. Save your file.<br>
     5. Select (browse) file for upload.<br>
     6. Upload<br>
      </div>


      </p>
      <p><h3>You must follow the same format as the examples below on the CSV file you will download on step 2.</h3>  
      <h3>First and foremost: <u>DO NOT CHANGE THE HEADERS IN THAT FILE</u>.</h3>  
      <h3>List your wrestlers in each weight.</h3>  
      <h3>One per weight ONLY.  These are your guys who will be competing in the league tournament and have a shot at NCS qualifying</h3>
      <h3>The FIRST 7 COLUMNS ARE REQUIRED (WEIGHT, SCHOOL, FIRST NAME, LAST NAME, GRADE, WINS, LOSSES).  The rest of the fields can be left blank unless they are seedable.</h3>  <h3>For seeding purposes, please ONLY list a tournament if your wrestler medaled in that tournament!</h3>
       <h3>When you have finished filling out the spreadsheet with your wrestlers' information, save the file in CSV format.(FYI, it is already a CSV file so you will most likely just have to save it as is).</h3>  
       <h3>Use that file to upload your wrestlers into the system.</h3>  </p>
      <p><h3>If you run into issues, please contact Scott Katz @ 323-317-5900.</h3></p>
    </div>

    <table class="ui celled center aligned structured stackable table">
  <thead>
    <tr>
      
      <th rowspan="2">WT</th>
      <th rowspan="2">SCHOOL</th>
      <th rowspan="2">FIRST</th>
      <th rowspan="2">LAST</th>
      <th rowspan="2">YR</th>
      <th rowspan="2">W</th>
      <th rowspan="2">L</th>
      <th rowspan="2">SEC Pl</th>
      <th rowspan="2">ST Pl</th>
      <th rowspan="2">T1<br>Name</th>
      <th rowspan="2">T1<br>Place</th>
      <th rowspan="2">T2</th>
      <th rowspan="2">T2 Place</th>
      <th rowspan="2">T3</th>    
      <th rowspan="2">T3 Place</th>     
      <th rowspan="2">T4</th>    
      <th rowspan="2">T4 Place</th>
      <th rowspan="2">T5</th>    
      <th rowspan="2">T5 Place</th>
  </thead>
  <tbody>
    <tr>
      <td>106</td>
      <td><%= @school.name %></td>
      <td>Jimmy</td>
      <td>Tango</td>
      <td>11</td>
      <td>21</td>
      <td>6</td>
      <td></td>
      <td></td>
      <td>Reno TOC</td>
      <td>7</td>
      <td>Walsh Ironman</td>
      <td>5</td>
      <td>Mid-Cals</td>
      <td>3</td>
      <td>Five Counties</td>
      <td>6</td>
      <td>Cal Classic</td>
      <td>7</td>
    </tr>
        <tr>
      <td>113</td>
      <td><%= @school.name %></td>
      <td>Tom</td>
      <td>Soso</td>
      <td>9</td>
      <td>28</td>
      <td>8</td>
      <td></td>
      <td></td>
      <td>Walsh Ironman</td>
      <td>7</td>
      <td>Five Counties</td>
      <td>4</td>
      <td>Puma Classic</td>
      <td>1</td>
      <td>Mission San Jose</td>
      <td>1</td>
      <td></td>
      <td></td>
      
    </tr>
       <tr>
      <td>120</td>
      <td><%= @school.name %></td>
      <td>Lewis</td>
      <td>Smith</td>
      <td>12</td>
      <td>10</td>
      <td>3</td>
      <td></td>
      <td></td>
      <td>Five Counties</td>
      <td>8</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<br><br>