.ui.sidebar a {
  padding-left: 2em;
  font-size: 20px;
  display: inline-block;
  width: 100%;

}

.ui.sidebar .weight.item {

  font-size: 25px;
}

.ui.league.sidebar a {

  font-size: 20px;
}
.ui.league.sidebar .league a {

  font-size: 15px;

}

.ui.wrestler.sidebar .school .column a {
  padding-left: 2em;
  font-size: 14px;
}

.ui.info.sidebar a {

  font-size: 15px;
}


.ui.header b{

  font-size: 30px;
}

.ui.main.menu {

  font-size: 18px;
}

.images .image {

  height: 350px;

}

.ui.grid .mobile.only.row .images .image {

  height: 250px;
}

.state .image {

  height: 150px;
}

.ui.left.segment .image {

  height: 60px;
}

.ui.segment .grid {
  border-left: 25px;
  border-right: 25px;
  padding: 3em;

}

.ui.grid .column b {


  font-size: 40px;
}

.ui.grid .column .segment b {

  font-size: 14px;
}

.item b {

  color:  #0066ff;
}