.ui.sidebar a {
  padding-left: 2em;
  font-size: 20px;
  display: inline-block;
  width: 100%;

}

.ui.sidebar .weight.item {

  font-size: 25px;
}

.ui.league.sidebar a {

  font-size: 20px;
}
.ui.league.sidebar .league a {

  font-size: 15px;

}

.ui.wrestler.sidebar .school a {

  font-size: 14px;
}

.ui.info.sidebar a {

  font-size: 15px;
}


.ui.header b{

  font-size: 30px;
}

.ui.main.menu {

  font-size: 18px;
}

.images .grid #medalists .column .image img {
  height: 350px;
}
      

#medalists2 .column {

  height: 350px;
  
}

#medalists2 .column img {

  height: 330px;
  width: auto;

}


.images .grid #medalists3 .column .image img {

  height: 280px;

}

#medalists3 .column {

  height: 280px;
  
}

#medalists3 .column img {

  height: 250px;
  width: auto;

}
.ui.grid .mobile.only.row .images .image {

  height: 250px;
}

.state .image {

  height: 150px;
}

.ui.images .two .image {

  height: 150px;

}

.ui.left.segment .image {

  height: 60px;
}

.ui.segment .grid {
  border-left: 25px;
  border-right: 25px;
  padding: 3em;

}

.ui.grid .ui.segment ul {

  max-height: 500px;
  overflow: auto;
}

li h4 {

  font-size: 20px;
}

.ui.grid .ui.row .weight h1 {

  font-size: 50px;
}

.ui.grid .ui.row .weight h2 {

  font-size: 40px;

}

.ui.grid .ui.row .weight h3 {

  font-size: 35px;

}
.ui.grid .alert {

  font-size: 35px;
}

.ui.grid .row .text {

  font-size: 20px;
}

.ui.grid .row .weight {

  font-size: 35px;
}

#weigh-in h3{
  color: blue;
}
.streaming.header {

  font-size: 35px;
}
.ui.footer.segment .ncs.image {

  width: 50%;
}

.ui.footer.segment .left.column {

  font-size: 20px;
}

.ui.grid .column b {


  font-size: 40px;
}

.ui.grid .column .segment b {

  font-size: 14px;
}

.item b {

  color:  #0066ff;
}



.tournament-container {}

.tournament-headers {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  
  h3 {
    width: 25%;
    text-align:center;
    font-weight: 200;
    border-right: 1px dashed #ccc;
    margin: 0;
    padding:1rem;
  }
}

.tournament-brackets {
  display: flex;
  flex-direction: row; 
  list-style-type: none;
  background: #fdfdfd;
  margin-bottom: 0px;
}

.bracket {
  padding-left: 0;
  display: flex;
  margin: 0;
  padding: 5px 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;

  flex: 1;
}

.team-item {
  background-color: #f4f4f4;
  padding: .3rem;
  display: block;
  margin: .4rem 10px;
  position: relative;
  vertical-align: middle;
  line-height: 0.4;
  text-align: center;
}

.team-item:after {
  content:'';
  font-size: 0.5em;
  border-color: #4f7a38;
  border-width: 0px;
  position: absolute;
  display: block;
  width: 0px;
  right: 0px;
}



.team-item:nth-of-type(odd):after {
  border-right-style: solid;
  border-top-style: solid;
  height: 00%;
  top: 00%;
}

.team-item:nth-of-type(even):after {
  border-right-style: solid;
  border-bottom-style: solid;
  height: 00%;
  top: -00%;
}

.team-item:before {
  content:'';
  font-size: 0.0em;
  border-top: 0px solid #4f7a38;
  position: absolute;
  height: 0px;
  width: 0px;
  left: 0px;
  top: 00%;
}

.bracket-00 {

  .team-item {
  height: 2.5em;
  }  

}

.bracket-0 {
  .team-item:nth-of-type(odd):before {
    border-width: 0px;

  }
}

.team-item.empty {
  background-color: white;

}

.team-item.empty:after {
  border-width: 0px;
}

.team-item.first:before {
  border-width: 0px;
}

.bracket-1 {
  .team-item {
  height: 5em;
  }

}

.bracket-2 {
  .team-item {
  height: 7em;
  }
  .team-item:nth-of-type(odd):after {
    height: 00%;
    top: 00%;
  }
  .team-item:nth-of-type(even):after {
   
    height: 00%;
    top: -000%;
  }
}

.bracket-3 {
  .team-item {
  height: 10em;
  }
  .team-item:nth-of-type(odd):after {
    height: 0%;
    top: 00%;
  }
  .team-item:nth-of-type(even):after {
    height: 00%;
    top: -000%;
  }
}

.bracket-4 {
  .team-item {
  height: 15em;
  }
  .team-item:nth-of-type(odd):after {
    height: 0%;
    top: 00%;
  }
  .team-item:nth-of-type(even):after {
    height: 0%;
    top: 00%;
  }
}

.bracket:first-of-type {
  .team-item:before {
    display: none;
  }
}

.bracket-4 {
  .team-item:after {
    display: none;
  }
}

.bracket:last-of-type {
  .team-item:before,
  .team-item:after {
    display: none;
  }
}

.team-item time {
  display: inline-block;
  background-color: #dbdbdb;
  font-size: .8rem;
  padding: 0 0rem;
}