.ui.sidebar {
  padding: 1em;
  font-size: 28px;

}

.ui.brackets.sidebar {
  padding: 1em;
  font-size: 20px;

}


.ui.info.sidebar .results {

  font-size: 15px;
}
.ui.sidebar .item {

  display: block;
}

.ui.header b{

  font-size: 30px;
}

.ui.main.menu {

  font-size: 18px;
}